.body {
  transition: 0.3s;
}

.container1 {
  display: grid;
  grid-template-columns: 0.96fr auto;
  grid-template-rows: 0.96fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
}

.main-image {
  grid-area: image;
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  filter: blur(0px) contrast(100%) saturate(3);
  /* filter: contrast(100%); */
}

.sidebar-container {
  grid-area: sidebar;
}
.active {
  background-color: #ef4444 !important; /* Equivalent to bg-purple-500 in Tailwind CSS */
  color: white !important;
}
.slider-container {
  grid-area: slider;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
