.body {
  transition: 0.3s;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
}

.main-image {
  grid-area: image;
  background-image: url(https://picsum.photos/1000);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  filter: blur(0px) contrast(100%) saturate(3);
  /* filter: contrast(100%); */
}

.sidebar-container {
  grid-area: sidebar;
}
.active {
  background-color: #8054e6 !important; /* Equivalent to bg-purple-500 in Tailwind CSS */
  color: white;
}
.slider-container {
  grid-area: slider;
}
